.timeline {
  width:100%;
  height:100%;
  padding: 10px 5px 5px 10px;
  overflow: scroll;
}

.tweet {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius:5px;
}

.tweet_header {
  width: 100%;
}

.tweet_body {
  width: 100%;
}

.user_name {
  width:50%;
}

.user_screen_name {
  width:50%;
}

.tweet_profile_image {
  width: 48px;
  height: 48px;
}

.tweet_text {
  width: 100%;
}
